body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/pattern.png);
    height: 150px;
    background-color: rgb(18, 173, 173);
}

#logo-header {
    height: 70px;
    margin-top: 70px;
    padding-left: 10px;
}

article {
    padding-left: 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

#autore {
    color: aqua;
}

.grigio {
    color: gray;
}

.small {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.img-article {
    margin-top: 20px;
}

ul {
    padding: 10px 1em;
}

td {
    width: 25%;
}

.tlargo {
    width: 50%;
}
 
.ttop {
    color: white;
    background-color: blue;
}


.tr-odd {
    background-color: aquamarine;
}

table {
    border-collapse: collapse;
}

footer {
    margin-left: 10px;
}

.container {
    position: relative;
}

.img-txt {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-size: 20px;
}

.interesse {
    margin-bottom: 10px;
}