body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/pattern.png);
    height: 150px;
    background-color: rgb(18, 173, 173);
}

#logo-header {
    height: 70px;
    margin-top: 70px;
    padding-left: 10px;
}

article {
    padding-left: 10px;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

#autore {
    color: aqua;
}

.grigio {
    color: gray;
}

small {
    font-size: 10px;
}

.img-article {
    margin-top: 20px;
}

